@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "./componets/variables";
@import "./componets/header";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.user {
  
  &__info {
    text-align: center;
    justify-content: center;
  }

  &__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__name {
    margin: 0;
    font-size: 18px;
    color: #263238;
  }

  &__position {
    margin: 0;
    font-size: 14px;
    color: #546e7a;
  }
  
}